In [22]:
import pandas as pd

In [23]:
df = pd.read_csv("thf-climatedata-1990-today.csv")
df['date'] = pd.to_datetime(df['date'])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 304632 entries, 0 to 304631
Data columns (total 12 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   date                           304632 non-null  datetime64[ns, UTC]
 1   temperature_2m                 304632 non-null  float64
 2   relative_humidity_2m           304632 non-null  float64
 3   precipitation                  304632 non-null  float64
 4   soil_temperature_0_to_7cm      304632 non-null  float64
 5   soil_temperature_7_to_28cm     304632 non-null  float64
 6   soil_temperature_28_to_100cm   304632 non-null  float64
 7   soil_temperature_100_to_255cm  304632 non-null  float64
 8   soil_moisture_0_to_7cm         304632 non-null  float64
 9   soil_moisture_7_to_28cm        304632 non-null  float64
 10  soil_moisture_28_to_100cm      304632 non-null  float64
 11  soil_moisture_100_to_255cm     304632 non-null  float64
dtypes: datetime64[ns, UTC](1), float64(11)
memory usage: 27.9 MB

In [24]:
df.head()

,date,temperature_2m,relative_humidity_2m,precipitation,soil_temperature_0_to_7cm,soil_temperature_7_to_28cm,soil_temperature_28_to_100cm,soil_temperature_100_to_255cm,soil_moisture_0_to_7cm,soil_moisture_7_to_28cm,soil_moisture_28_to_100cm,soil_moisture_100_to_255cm
0,1989-12-31 23:00:00+00:00,-1.176,94.291890,0.0,-0.376,0.674,4.274,9.024,0.35,0.352,0.305,0.292
1,1990-01-01 00:00:00+00:00,-1.376,94.282690,0.0,-0.426,0.674,4.274,9.024,0.35,0.352,0.305,0.292
2,1990-01-01 01:00:00+00:00,-1.376,91.534355,0.0,-0.426,0.674,4.274,9.024,0.35,0.352,0.305,0.292
3,1990-01-01 02:00:00+00:00,-1.526,87.857420,0.0,-0.426,0.674,4.274,9.024,0.35,0.352,0.305,0.292
4,1990-01-01 03:00:00+00:00,-1.476,84.643610,0.0,-0.426,0.674,4.274,9.024,0.35,0.352,0.305,0.292