In [9]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

### Import and Inspect Data

In [10]:
df = pd.read_csv("thf-climatedata-1990-today.csv")
df['date'] = pd.to_datetime(df['date'])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 304632 entries, 0 to 304631
Data columns (total 12 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   date                           304632 non-null  datetime64[ns, UTC]
 1   temperature_2m                 304632 non-null  float64
 2   relative_humidity_2m           304632 non-null  float64
 3   precipitation                  304632 non-null  float64
 4   soil_temperature_0_to_7cm      304632 non-null  float64
 5   soil_temperature_7_to_28cm     304632 non-null  float64
 6   soil_temperature_28_to_100cm   304632 non-null  float64
 7   soil_temperature_100_to_255cm  304632 non-null  float64
 8   soil_moisture_0_to_7cm         304632 non-null  float64
 9   soil_moisture_7_to_28cm        304632 non-null  float64
 10  soil_moisture_28_to_100cm      304632 non-null  float64
 11  soil_moisture_100_to_255cm     304632 non-null  float64
dtypes: datetime64[ns, UTC](1), float64(11)
memory usage: 27.9 MB

In [11]:
df.head()

                       date  ...  soil_moisture_100_to_255cm
0 1989-12-31 23:00:00+00:00  ...                       0.292
1 1990-01-01 00:00:00+00:00  ...                       0.292
2 1990-01-01 01:00:00+00:00  ...                       0.292
3 1990-01-01 02:00:00+00:00  ...                       0.292
4 1990-01-01 03:00:00+00:00  ...                       0.292

[5 rows x 12 columns]

### Create Train/Test Split and export split data for consistent use

In [12]:
X = df[['temperature_2m', 'relative_humidity_2m', 'precipitation']]
y = df['soil_temperature_0_to_7cm']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=42)

np.save('X_train.npy', X_train)
np.save('X_test.npy', X_test)
np.save('y_train.npy', y_train)
np.save('y_test.npy', y_test)